@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  background-color: #ecf2f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 65em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background-color: #fff;
}

.container > img {
  overflow: hidden;
  height: 25em;
  max-width: 25em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 0 0 8px;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}

.wrapper {
  padding: 40px;
  max-width: 40em;
}

h1 {
  color: #48556a;
  font-size: 25px;
}

.article > p {
  color: #6d7f97;
  margin: 20px 0 20px 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 100%;
}

.author {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.author > img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  color: #48556a;
  font-weight: bold;
}

.date {
  color: #9eafc2;
}

button {
  background-color: #ecf2f8;
  padding: 7px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 10;
}

button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.popup {
  position: absolute;
  left: 72%;
  top: -3.5rem;
  width: auto;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  background-color: #6d7f97;
  letter-spacing: 5px;
  color: #ecf2f8;
  font-size: 11px;
}

.popup::after {
  content: "";
  position: absolute;
  bottom: -0.9em;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #6d7f97;
}

.popup > i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.popup > i {
  color: white;
  margin-left: 15px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  body {
    margin: auto;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 25em;
    margin: 20px;
    overflow: hidden;
  }
  .container > img {
    border-radius: 8px 8px 0 0;
    margin-top: -50px;
    max-height: 20em;
  }
  .wrapper {
    padding: 0;
  }
  .article {
    width: 100%;
    font-size: 12px;
    padding: 30px 40px 20px 40px;
  }
  .article > p {
    margin: 0;
  }
  h1 {
    font-size: 1.3em;
    margin-bottom: 20px;
  }
  .author > img {
    width: 35px;
  }
  .footer {
    padding: 20px 40px 20px 40px;
  }
  .popup {
    left: 0;
    bottom: 0;
    top: 0;
    border-radius: 0 0 8px 8px;
    width: 100%;
    padding-left: 40px;
  }
}
/*# sourceMappingURL=style.css.map */